body {
    Color: #662D91;
    font-family: sans-serif;
    font-size: 62.5%;

}

h2 {
    width: auto;
    text-align: center;
    font-size: 350%;
    font-weight: 1000;
    margin: 10% auto 0 ;
}

.logo {
    display: block;
    margin: 2% auto 0;
    width: 33%;
    height: auto;
}

.coronavirus {
    display: block;
    margin: 0.5% auto 0;
    width: 50%;
    height: auto;
}

.atualizacao {
    font-size: 250%;
    text-align: center;
    margin: 5% auto 0;
}

.caixas {
    width: 100%;
    height: auto;
    padding: 0 5%;
    margin: auto;
    border: solid red;

}

h3 {
    margin: 0px;
    font-weight: 1000;
    font-size: 50px;
}



#oQueSaoCoronavirus{
    width: 100%;
    height: auto;
}

.ulSubtitulosDireita{
    text-align: right;
    border-right: solid #662D91 10px;
    margin: 4% 0 0;
    padding: 0 4%;

}

.ulImagemParagrafo{
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 5% auto;
    
}

.liImagemEsquerda{
    width: 30%;
    height: auto;
    float: left;
    border: solid red;
    
}

.imagem{
    float: left;
    height: auto;
    position: relative;
    width: 100%;

}

.paragrafoDireita {
    float: right;
    position: relative;
    width: 65%;
    margin: auto;
    text-align: right;
    font-size: 300%;
    height: auto;
}

.strongAzulAgua {
    padding: 0 0 0 2px;
    background-color: #b6ffe5;
    line-height: 1.2;
    font-weight: 700;
    
}



#comoETrans{
    width: 100%;
    height: auto;
    
}

.ulSubtitulosEsquerda {
    text-align: left;
    border-left: solid #662D91 10px;
    margin: 10% 0 0;
    padding: 0 4%;
    
}

.paragrafoComoEtrans{
    width: 100%;

}

.paragrafoEsquerda {
    float: left;
    position: relative;
    width: 65%;
    margin: auto;
    text-align: left;
    font-size: 300%;
    height: auto;
}

.strongAzul {
    padding: 0 0 0 2px;
    background-color: #d2f4ff;
    line-height: 1.2;
    font-weight: 700;
}

.liImagemDireita{
    float: right;
    width: 30%;
    height: auto;    
}



#quaisSaoOsSintomas{
    width: 100%;
    height: auto;
}

#imagemSintomasAr{
    width: 40%;
    height: auto;
    position: 
    
    
}

#imagensSintomasFebre{
    width: 12%;
    height: auto;
    float: right;
    position: absolute;
    margin: 5% 0 0 4%; 

}

#imagemSintomasTosse{
    width: 40%;
    height: auto;
    margin: 10% 0 0 20%;
}

.paragrafoSintomas{
    width: 100%;
    float: right;
    position: relative; 
    
}



.oQuePossoFazer{
width: 100%;
}

.ulOquePossoFazer{
    width: 100%;
    height: auto;
    margin: 5% 0 0 0;
}

.liOquePossoFazer{
    display: inline-block;
    vertical-align: top;
    width: 32.5%;
    height: auto;
    text-align: center;
    
}

.imagemOquePossoFazer{
    width: 50%;
    
}

.paragrafosOquePossoFazer{
    width: 100%;
    font-size: 300%;
    text-align: center;
    font-weight: 700;
    margin: 5% 0;

}

.blocoLeft{
    float: left;

}

.blocoMiddle{
    float:none; 

}

.blocoRight{
    float: right;

}



#seEuFicarProximo{
    width: 100%;

}

#imagemAmpulheta{
    width: 10%;
    height: auto;
    position: absolute;
    margin: -5% 10% 0;
    
}



.paragrafoCentro {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: left;
    font-size: 300%;
    height: auto;
}



#imagemNariz{
    width: 60%;
    height: auto;
    margin: 0 0 0 70% ;
}

#paragrafoOqueETrans{
    text-align: right;
    width: 80%;
    float: right;


}

.strongVerde {
    padding: 0 0 0 2px;
    background-color: #cafeb0;
    line-height: 1.2;
    font-weight: 700;
}



#quaPerto{
    background-color:#b6ffe5 ;
}



.strongRocho {
    padding: 0 0 0 2px;
    background-color: #fed7ff;
    line-height: 1.2;
    font-weight: 700;
}

.strongAmarelo {
    padding: 0 0 0 2px;
    background-color: #fff4d7;
    line-height: 1.2;
    font-weight: 700;
}

.strongAzulEscuro {
    padding: 0 0 0 2px;
    background-color: #d7e0ff;
    line-height: 1.2;
    font-weight: 700;
}

.strongAmareloEscuro {
    padding: 0 0 0 2px;
    background-color: #ffe2b0;
    line-height: 1.2;
    font-weight: 700;
}

.strongAmareloNeon {
    padding: 0 0 0 2px;
    background-color: #fff799;
    line-height: 1.2;
    font-weight: 700;
}


ulSubtitulosDireitaVerde{
    text-align: right;
    border-right: solid #b5cfc3 10px;
    margin: 10% 0 0;
    padding: 0 4%;
}

.ulSubtitulosEsquerdaVerde{
    text-align: left;
    border-left: solid #b5cfc3 10px;
    margin: 10% 0 0;
    padding: 0 4%;
}









