body {
    width: auto;
    height: 16000px;
    margin:auto;
    Color: #662D91;
    font-size: 20px;
    font-family: sans-serif;
    padding: 50px 0 0 0;
    line-height: ;
}

h1 img {
    display: block;
    margin: 0 auto 0;
    width: 367.5px;
    height: auto;
}

h2 {
    text-align: center;
    font-size: 33px;
    font-weight: 1000;
    font-family: sans-serif;
    margin: 100px 0 0 30px;
}

#titulo {
    color: white;
    font-family: sans-serif;
    font-size: 58px;
    font-weight: 1000;
    margin: 0px;
}
#fundoTitulo{
    width: 558.5px;
    height: 100px;
    background-color: #662D91;
    position: relative;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 50px;
}

#atualizacao {
    text-align: center;
    margin: 50px auto 0;
}

h3{
    margin: 0px;
    font-weight: 1000;
    font-size: 50px;
}

h3.subtitulosDireita{
    text-align: right;
    position: relative;
    padding: 0 70px 0;
    border-right: solid #662D91 10px;
}

h3.subtituloEsquerda{
    text-align: left;
}

#imagemInterrogacao{
    position: absolute;
    margin: 25px 0 0 40px;
    width: 300px;
    height: absolute;
}

.paragrafoDireita{
    margin: 25px 75px 0 0;
    padding: 0 0 0 410px;
    text-align: right;
    position: absolute;
}

.strongAzulAgua{
    padding: 0 0 0 2px;
    background-color: #b6ffe5;
    line-height: 1.2;
}

.strongAzul{
    padding: 0 0 0 2px;
    background-color: #d2f4ff;
    line-height: 1.2;
}

.strongVerde{
    padding: 0 0 0 2px;
    background-color: #cafeb0;
    line-height: 1.2;
}

.strongRocho{
    padding: 0 0 0 2px;
    background-color: #fed7ff;
    line-height: 1.2;
}

.strongAmarelo{
    padding: 0 0 0 2px;
    background-color: #fff4d7;
    line-height: 1.2;
}

.strongAzulEscuro{
    padding: 0 0 0 2px;
    background-color: #d7e0ff;
    line-height: 1.2;
}

.strongAmareloEscuro{
    padding: 0 0 0 2px;
    background-color: #ffe2b0;
    line-height: 1.2;
}