/**Geral**/

body {
    Color: #662D91;
    font-family: sans-serif;
    font-size: 62.5%;

}

h2 {
    width: auto;
    text-align: center;
    font-size: 350%;
    font-weight: 1000;
    margin: 10% auto 0 ;
}

.logo {
    display: block;
    margin: 2% auto 0;
    width: 33%;
    height: auto;
}

.coronavirus {
    display: block;
    margin: 0.5% auto 0;
    width: 50%;
    height: auto;
}

.atualizacao {
    font-size: 250%;
    text-align: center;
    margin: 5% auto 0;
}

.caixas {
    width: 100%;
    height: auto;
    padding: 0 5%;
    margin: auto;
    border: solid red;
    padding: 0 0 10%;

}

h3 {
    margin: 0px;
    font-weight: 1000;
    font-size: 50px;
}

.subtituloDireita{
    text-align: right;
    border-right: solid #662D91 10px;
    margin: 4% auto;
    padding: 0 4%;

}

.subtituloEsquerda {
    text-align: left;
    border-left: solid #662D91 10px;
    margin: 4% auto;
    padding: 0 4%;
    
}

.subtitulosDireitaVerde{
    text-align: right;
    border-right: solid #b5cfc3 10px;
    margin: 10% 0 0;
    padding: 0 4%;
}

.subtitulosEsquerdaVerde{
    text-align: left;
    border-left: solid #b5cfc3 10px;
    margin: 10% 0 0;
    padding: 0 4%;
}

.imagemParagrafo{
    display: inline-block;
    width: 100%;
    height: auto;
    margin: auto;
    
}

.imagemEsquerda{
    width: 30%;
    height: auto;
    float: left;
    border: solid red;
    
}

.imagemDireita{
    width: 30%;
    height: auto;
    float: right;
    border: solid red;
    
}

.imagem{
    float: left;
    height: auto;
    position: relative;
    width: 100%;

}

.paragrafoDireita {
    float: right;
    position: relative;
    width: 65%;
    margin: auto;
    text-align: right;
    font-size: 300%;
    height: auto;
}

.paragrafoEsquerda {
    float: left;
    position: relative;
    width: 65%;
    margin: auto;
    text-align: left;
    font-size: 300%;
    height: auto;
}

.paragrafoCentro {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: left;
    font-size: 300%;
    height: auto;
}

.textoDireita{
    text-align: right;

}

.textoEsquerda{
    text-align: left;
}


.strongAzulAgua {
    padding: 0 0 0 2px;
    background-color: #b6ffe5;
    line-height: 1.2;
    font-weight: 700;
    
}

.strongAzul {
    padding: 0 0 0 2px;
    background-color: #d2f4ff;
    line-height: 1.2;
    font-weight: 700;
}

.strongRocho {
    padding: 0 0 0 2px;
    background-color: #fed7ff;
    line-height: 1.2;
    font-weight: 700;
}

.strongAmarelo {
    padding: 0 0 0 2px;
    background-color: #fff4d7;
    line-height: 1.2;
    font-weight: 700;
}

.strongAzulEscuro {
    padding: 0 0 0 2px;
    background-color: #d7e0ff;
    line-height: 1.2;
    font-weight: 700;
}

.strongAmareloEscuro {
    padding: 0 0 0 2px;
    background-color: #ffe2b0;
    line-height: 1.2;
    font-weight: 700;
}

.strongAmareloNeon {
    padding: 0 0 0 2px;
    background-color: #fff799;
    line-height: 1.2;
    font-weight: 700;
}

.strongVerde {
    padding: 0 0 0 2px;
    background-color: #cafeb0;
    line-height: 1.2;
    font-weight: 700;
}



/**Específicos**/

#imagemSintomasAr{
    width: 40%;
    height: auto;
    
      
}

#imagensSintomasFebre{
    width: 40%;
    height: auto;
    float: right;
    margin: 20% 0 0 4%; 

}

#imagemSintomasTosse{
    width: 40%;
    height: auto;
    float: left;
    margin: 5% 0 0 20%;
}


.ulOquePossoFazer{
    width: 100%;
    height: auto;
    margin: 5% 0 0 0;
}

.liOquePossoFazer{
    display: inline-block;
    vertical-align: top;
    width: 32.5%;
    height: auto;
    text-align: center;
    
}

.imagemOquePossoFazer{
    width: 50%;
    
}

.paragrafosOquePossoFazer{
    width: 100%;
    font-size: 300%;
    text-align: center;
    font-weight: 700;
    margin: 5% 0;

}

.blocoLeft{
    float: left;

}

.blocoMiddle{
    float:none; 

}

.blocoRight{
    float: right;

}



#seEuFicarProximo{
    width: 100%;

}

#imagemAmpulheta{
    width: 10%;
    height: auto;
    position: absolute;
    margin: -5% 10% 0;
    
}


#imagemNariz{
    width: 60%;
    height: auto;
    margin: 0 0 0 70% ;
}

#paragrafoOqueETrans{
    text-align: right;
    width: 80%;
    float: right;
    margin: 0 0 5% 0;


}

#quaPerto{
    background-color:#b6ffe5;
    
}

#paragrafoQuaPerto{
    width: 45%;
    float: left;
}

.imagemQuaPerto{
    width: 50%;
    float: right;
    margin: -10% 3% 0 0;

}






#imagemParagrafoEscudo {
    
}

#imagemEscudo{
    float: left;
    width: 15%;
    height: auto;
    margin: 0 5% 0 0;
    
}

#paragrafoEscudo{
    margin: 0 0 0 -25%;
}


